@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    font-size: 1.5vh;
    font-family: "Saira", sans-serif;
    font-style: normal;
  }

  body {
    overflow: hidden;
  }
}


@layer components {

  .text-gradient-white {
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 89.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .bg-gradient-custom {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.80) 100%);
  }

  .customsrollbar::-webkit-scrollbar {
    width: 0.2rem;
  }

  .customsrollbar::-webkit-scrollbar-thumb {
    background: #FB8135;
  }

  .customsrollbar::-webkit-scrollbar-track {
    background: #FB81355e;
  }

  .customsrollbar2::-webkit-scrollbar {
    height: 0.25rem;
  }

  .customsrollbar2::-webkit-scrollbar-thumb {
    background: #FB8135;
  }

  .customsrollbar2::-webkit-scrollbar-track {
    background: #FB81355e;
  }


  .drop-shadow-custom {
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.80));
  }

  .drop-shadow-custom-white {
    filter: drop-shadow(0 0 0.15rem #ffffff);
  }

  .drop-shadow-custom-text {
    filter: drop-shadow(0 0 0.6312rem #FB8135);
  }

  @keyframes noseatbelt {

    0%,
    100% {
      fill: #ffffff80;
    }

    50% {
      fill: #FFF;
    }
  }

  .animation-seatbelt {
    animation: 1s noseatbelt ease-in-out infinite;
  }

  .seatbelt {
    fill: #FFF;
  }

  .btn-hover {
    transition: all 0.3s linear;
    cursor: pointer;
  }

  .btn-hover:hover {
    filter: contrast(120%);
    transform: scale(0.95);
  }

  .letter {
    opacity: 0;
    animation: showLetter 5s forwards infinite;
  }

  .letter:nth-child(n) {
    animation-delay: calc((var(--i) - 1) * 0.3s);
  }

  @keyframes showLetter {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    50% {
      opacity: 1;
      transform: translateY(0);
    }

    80% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .animation-openShop {
    animation: openShop 0.35s linear;
  }

  @keyframes openShop {
    0% {
      opacity: 0;
      transform: scale(0.5) translateY(100%);
    }

    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .animation-openMumber {
    animation: openMumber 0.35s linear;
  }

  @keyframes openMumber {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animation-openMission {
    animation: openMission 0.35s linear;
  }

  @keyframes openMission {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(6rem);
    }

    100% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .animate-slideIn {
    animation: slideIn 1s ease-out;
  }

  .animate-slideOut {
    animation: slideOut 1s ease-out;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}